@{
    ViewData["Title"] = "Sing";
    int numberOfMonkeys = ViewBag.NumberOfMonkeys;
}

@if (numberOfMonkeys >= 50 && numberOfMonkeys <= 100)
{
    for (int i = numberOfMonkeys; i > 0; i--)
    {
        <p>
            @i little monkeys jumping on the bed<br />
            One @((i % 2 == 0) ? "fell off and bumped her head" : "fell off and bumped his head")<br />
            Mama called the doctor and the doctor said<br />
            "No more monkeys jumping on the bed!"
        </p>
    }
    <p>
        No more monkeys jumping on the bed<br />
        Mama called the doctor and the doctor said<br />
        "No more monkeys jumping on the bed!"
    </p>
}
<a href="/Home/SongForm">Play Again</a>
